*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    min-height:100vh;

    background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)),
    url("Image.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

    color:white;
}

.titulo{
    text-align:center;
    font-size:32px;
    margin:30px 0;

    color:#00ff88;

    text-shadow:
    0 0 5px #00ff88,
    0 0 15px #00ff88,
    0 0 25px #00ff88;
}

.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:25px;
    padding:20px;
}

.card{
    width:90%;
    max-width:420px;

    background:rgba(0,0,0,0.65);
    backdrop-filter: blur(6px);

    border-radius:15px;
    padding:20px;

    border:1px solid rgba(0,255,136,0.5);

    box-shadow:
    0 0 15px rgba(0,255,136,0.4),
    inset 0 0 10px rgba(0,255,136,0.2);
}

.card h2{
    color:#00ff88;
    margin-bottom:10px;

    text-shadow:
    0 0 5px #00ff88,
    0 0 10px #00ff88;
}

.card p{
    margin-bottom:10px;
    line-height:1.5;
}

.card ul{
    margin-left:20px;
    margin-bottom:10px;
}

.link{
    display:flex;
    align-items:center;
    gap:8px;

    text-decoration:none;
    color:#00ff88;

    margin-top:10px;

    text-shadow:0 0 5px #00ff88;
}

.link i{
    font-size:20px;
}
