/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* FUNDO DO SITE */
body{
    background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.9)),
    url("Image.jpg");
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color:white;
}

/* TITULO */
.titulo{
    text-align:center;
    font-size:32px;
    margin-top:25px;
    margin-bottom:25px;

    color:#00ff9c;

    text-shadow:
    0 0 5px #00ff9c,
    0 0 10px #00ff9c,
    0 0 20px #00ff9c;
}

/* CONTAINER PRINCIPAL */
.container{
    width:90%;
    max-width:400px;
    margin:auto;

    display:flex;
    flex-direction:column; /* <<< ISSO FAZ FICAR UM EMBAIXO DO OUTRO */
    gap:25px;

    padding-bottom:60px;
}

/* CAIXAS */
.card{
    background: rgba(0,0,0,0.75);

    border:1px solid #00ff9c;
    border-radius:15px;

    padding:20px;

    box-shadow:
    0 0 10px #00ff9c,
    inset 0 0 10px rgba(0,255,156,0.3);
}

/* TITULO DAS CAIXAS */
.card h2{
    color:#00ff9c;
    margin-bottom:10px;

    text-shadow:
    0 0 5px #00ff9c,
    0 0 10px #00ff9c;
}

/* TEXTO */
.card p{
    font-size:14px;
    line-height:1.6;
}

/* LISTA */
.card ul{
    margin-top:10px;
    padding-left:20px;
}

.card li{
    margin-bottom:5px;
}

/* LINKS */
.link{
    display:flex;
    align-items:center;
    gap:10px;

    margin-top:10px;

    text-decoration:none;
    color:#00ff9c;
    font-weight:bold;

    transition:0.3s;
}

.link:hover{
    transform:translateX(5px);
    text-shadow:0 0 10px #00ff9c;
}
