/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* FUNDO DO SITE */
body{
    color:white;
    background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.85)),
    url("Image.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    min-height:100vh;
}

/* TITULO */
h1{
    text-align:center;
    margin-top:25px;
    margin-bottom:25px;
    color:#00ff9c;
    text-shadow:
    0 0 5px #00ff9c,
    0 0 15px #00ff9c,
    0 0 30px #00ff9c;
}

/* CONTAINER PRINCIPAL */
.container{
    display:flex;
    flex-direction:column; /* UM EMBAIXO DO OUTRO */
    align-items:center;
    gap:25px;
    padding:20px;
}

/* CARDS */
.card{
    width:90%;
    max-width:500px;

    background:rgba(0,0,0,0.65);
    border-radius:15px;
    padding:20px;

    border:1px solid rgba(0,255,156,0.5);

    box-shadow:
    0 0 10px rgba(0,255,156,0.5),
    inset 0 0 10px rgba(0,255,156,0.3);

    backdrop-filter:blur(6px);
}

/* TITULO CARD */
.card h2{
    color:#00ff9c;
    margin-bottom:15px;
    text-shadow:0 0 8px #00ff9c;
}

/* TEXTO */
.card p{
    line-height:1.6;
    margin-bottom:10px;
}

/* LISTA */
.card ul{
    margin-left:20px;
    margin-top:10px;
}

.card li{
    margin-bottom:6px;
}

/* LINKS */
.card a{
    display:flex;
    align-items:center;
    gap:8px;
    color:#00ff9c;
    text-decoration:none;
    margin-top:8px;
    font-weight:bold;
    transition:0.3s;
}

.card a:hover{
    text-shadow:0 0 10px #00ff9c;
}

/* ICONES */
.icon{
    width:24px;
    height:24px;
}
