/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo do site */
body {
    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.55)
    ),
    url("image.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    text-align: center;
    padding: 40px;

    background: rgba(0,0,0,0.45);
    border-radius: 15px;
    backdrop-filter: blur(4px);
}

/* Título Verde Neon */
h1 {
    font-size: 48px;
    margin-bottom: 20px;

    color: #00ff88;

    text-shadow:
        0 0 5px #00ff88,
        0 0 10px #00ff88,
        0 0 20px #00ff88,
        0 0 40px #00ff88;
}

/* Texto Neon mais suave */
p {
    font-size: 20px;

    color: #66ffcc;

    text-shadow:
        0 0 5px #00ff88,
        0 0 10px #00ff88;
}

/* Botão Neon */
.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;

    background: transparent;
    color: #00ff88;
    border: 2px solid #00ff88;

    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;

    box-shadow:
        0 0 5px #00ff88,
        0 0 15px #00ff88;

    transition: 0.3s;
}

.btn:hover {
    background: #00ff88;
    color: black;

    box-shadow:
        0 0 20px #00ff88,
        0 0 40px #00ff88;

    transform: scale(1.05);
}
